.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #282c34;
  width: 100vw;
  height: 100vh;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 45%;
}

.board-row {
  display: flex;
}

.status {
  padding-block: 15px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.status.player-o span {
  color: red;
}

.status.player-x span {
  color: #61dafb;
}

.square {
  width: 105px;
  height: 105px;
  margin: 2.5px;
  border-radius: 7px;
  background: #282c34;
  border: 1px solid white;
  font-size: 2em;
  font-weight: bold;
}

.square-x {
  color: #61dafb;
  border: 1px solid #61dafb;
}

.square-y {
  color: red;
  border: 1px solid red;
}

.game-info {
  position: absolute;
  left: 20px;
  top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}